body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-title {
    background-color: rgb(241, 245, 248);
}

.turn-user {
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
}

